@{
    ViewBag.Title = "Account Balance";
}
@{
    var prod10 = (double)ViewData["MyProduct10"];
}
@{
    string cost = $"{prod10}";
}


<h2>@ViewBag.Title</h2>
<h4>Your balance for this month:</h4>
<table class="table">
    <tr>
        <td>
            <p>Total pick ups for this month:</p>
        </td>
        <td>
            <div class="form-group">
                <input type="button" value="View Trash Collection History" onclick="location.href='@Url.Action("Delete", "EmployeeRouters")'" />
            </div>
        </td>
    </tr>
</table>

    <p>Bill due: $@Html.DisplayFor(modelItem => prod10).00</p>

@if (prod10 > 0)
{
    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="business" value="vue_lao123-facilitator@yahoo.com">
        <input type="hidden" name="item_name" value="My painting" />
        <input type="hidden" name="amount" id="myField" value="" />
        <input type="hidden" name="quantity" value="1" />
        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
        <input type="image" src="//www.paypalobjects.com/en_US/i/btn/btn_xpressCheckout.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
}

<script>
    var blue = @cost.ToString();
    document.getElementById('myField').value = blue;
</script>

