@{
    ViewBag.Title = "About";
}
@{
    var prod10 = (double)ViewData["MyProduct10"];
}


<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Your bill due: $@Html.DisplayFor(modelItem => prod10).00</p>
