@{
    ViewBag.Title = "Cleaner, Faster, and More Efficient";
}
<h1>@ViewBag.Title.</h1>
<h4>Register an account with us! It only takes 2 minutes, and you'll be on your way to your very own, personlized weekly trash pick up.</h4>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@Cleankingdom.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@Cleankingdom.com</a>
</address>