@model IEnumerable<TrashCollector.Models.SetSchedule>

@{
    ViewBag.Title = "Index";
}
@{
    var prod = (List<string>)ViewData["MyProduct"];
}
@{
    var prod2 = (List<string>)ViewData["MyProduct2"];
}
@{
    var prod3 = (List<string>)ViewData["MyProduct3"];
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <h4><b>Week</b></h4>
        </th>
        <th>
            <h4><b>Pick Up Days</b></h4>
        </th>
        <th>
            <h4><b>Pick Up Time</b></h4>
        </th>
        <th></th>
    </tr>

@for(int i=0; i<prod.Count;i++){
    <tr>
        <td>
            @Html.DisplayFor(modelItem => prod[i])
        </td>
        <td>
            @Html.DisplayFor(modelItem => prod3[i])
        </td>
        <td>
            @Html.DisplayFor(modelItem => prod2[1])
        </td>
    </tr>
}

</table>
