@{
    var prod = (List<string>)ViewData["MyProduct97"];
}
@{
    var prod2 = (List<string>)ViewData["MyProduct98"];
}
@{
    var prod3 = (List<string>)ViewData["MyProduct99"];
}

<table class="table">
    <tr>
        <th>
            <h4><b>Week</b></h4>
        </th>
        <th>
            <h4><b>Day</b></h4>
        </th>
        <th>
            <h4><b>Time Picked Up</b></h4>
        </th>
        <th></th>
    </tr>

    @for (int i = 0; i < prod.Count; i++)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => prod[i])
            </td>
            <td>
                @Html.DisplayFor(modelItem => prod3[i])
            </td>
            <td>
                @Html.DisplayFor(modelItem => prod2[i])
            </td>
            <td>
                <span style="background-color: #a2d8ff"> Picked Up </span>
            </td>
        </tr>
    }

</table>